.button {
    height: 62px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 37px;
    background-color: #fff;
}

.button_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #B6E1FF;
}