.menu {
    padding: 12px 0;
    height: 62px;
    background: #289FD2;
}

.menu__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}