.promo {
    background-image: url('../img/background-promo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 80px;
    position: relative;
}

.promo__arrows {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.promo__text-container {
    max-width: 500px;
}

.promo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo .h1 {
    color: #fff;
    padding-bottom: 40px;
}

.promo .text {
    color: #fff;
    padding-bottom: 75px;
}

.promo .button {
    color: #195168;
}

.promo .button_link {
    padding-left: 45px;
}