.h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 112.2%;
    color: #FFFFFF;
}

.h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 147.2%;
    text-align: center;
    color: #141414;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 141.7%;
}